<div id="main-wrapper">
    <!-- Page Preloader -->
    <div id="preloader">
        <div id="status">
            <div class="status-mes"></div>
        </div>
    </div>
    <header class="header">
        <!-- Navigation -->
        <nav class="navbar main-menu" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <ul class="navbar-nav nav">
                        <li><a class="summit_logo" href="#page-top">@ViewBag.Region Summit 2018</a></li>
                    </ul>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden"><a href="#page-top"></a></li>
                        <li><a class="page-scroll" href="#section-intro">Objectives</a></li>
                        <li><a class="page-scroll" href="#section-agenda">Agenda</a></li>
                        <li><a class="page-scroll" href="#section-speaker">Speakers</a></li>
                        <li><a class="page-scroll" href="#section-graduationprofiles">Graduation</a></li>
                        @*<li><a class="page-scroll" href="#section-pricing">Traveller's Notes</a></li>
                            <li><a class="page-scroll" href="#section-partner">Links</a></li>*@
                        <li><a class="page-scroll" href="#section-venue">Venue</a></li>
                        <li><a class="page-scroll" href="#section-feedback">Feedback</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.container -->
        </nav>
        <!-- .nav -->

        <script>
 var region = '@ViewBag.Region'
var program = '@ViewBag.Program'
        </script>
    </header>
    <div class="jumbotron text-center">
        <div class="content">
            <div class="event-date">@ViewBag.Date</div>
            <h1 style="font-size:50px">Hello, @ViewBag.Region!!</h1>
            <h1 style="font-size:50px">ARE YOU EXCITED FOR THIS YEAR'S SUMMIT?</h1>
            @if (ViewBag.Program.ToLower() == "itdp")
            {
                <p class="lead">
                    Loads of fun-filled activities, some interesting sessions and cool games.
                    <br />Select your program and region to get started
                </p>
            }
            else
            {
                <p class="lead">Meet fellow leaders and Dell rockstars from across the globe. Scroll down to know more</p>
            }
            <div class="col-md-12">
                <div class="col-md-6 section-divider">
                    <div class="row">
                        <p class="lead">Region</p>
                    </div>

                    <div class="row">
                        @foreach (string Region in ViewBag.Regions)
                        {
                            if (Region.ToLower().Equals(((string)ViewBag.Region).ToLower()))
                            {
                                <div class="col-md-4">
                                    <a href="#" class="region selected-region">@Region</a>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4">
                                    <a href="#" class="region">@Region</a>
                                </div>
                            }
                        }
                        @*<div class="col-md-4">
                                <a href="#" class="region">INDIA</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="region">AUSTIN</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="region">MALAYSIA</a>
                            </div>*@
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="row">
                        <p class="lead">Program</p>
                    </div>

                    <div class="row">
                        @foreach (string Program in ViewBag.Programs)
                        {
                            if (Program.ToLower().Equals(((string)ViewBag.Program).ToLower()))
                            {
                                <div class="col-md-4">
                                    <a href="#" class="program selected-program">@Program</a>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4">
                                    <a href="#" class="program">@Program</a>
                                </div>
                            }
                        }
                        @*<div class="col-md-4">
                                <a href="#" class="program">ITDP</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="program">ITLP</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="program">Leaders</a>
                            </div>*@
                    </div>
                </div>


            </div>



            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#registrationModal">REGISTER YOURSELF</button>

        </div>
    </div>
    <!-- .Jumbotron-->
    <section id="section-intro" class="section-wrapper about-event">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>OUR OBJECTIVES</h2>
                    <p class="lead">
                        <ul style="list-style-type:disc; font-weight:normal">
                            <li>Increase technical skills, innovative thinking, and/or professional capabilities to further enable our Digital Transformation.</li>
                            <li>Increase understanding of company vision and customer needs, and provide key insights from WWLM, FRS, and Dell Technologies World.</li>
                            <li>Establish a strong career development network among participants and leaders.</li>
                        </ul>
                    </p>
                    <h2>PURPOSE</h2>
                    <p class="lead" style="font-weight:normal">
                        To dedicate time for personal and professional growth by providing accelerated learning focused on Strategy, Customers, and Innovation.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>SAVE THE DATES</h4>
                    <strong>
                        MAY 08-10, AUSTIN
                        <br />JUNE 20-22, INDIA
                        <br />JUNE 26-27, MALAYSIA
                    </strong>
                </div>
            </div>
        </div>
    </section>
    <section id="section-agenda" class="section-wrapper section-agenda team gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title" style="margin-bottom:0px">
                        <h1>AGENDA</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                @{
                    int i = 1;
                    foreach (Summit.Controllers.HomeController.EventDay day in ViewBag.Agenda)
                    {
                        if (ViewBag.Region == "Austin" && ViewBag.Program.ToLower() != "itdp")
                        {
                            <div class="col-md-3">
                                <h3>Day @i</h3>
                                <span style="font-size:17px;position:relative;top:-17px">@day.location</span>
                                @foreach (Summit.Controllers.HomeController.Groups group in day.Groups)
                                {
                                    <div class="session">
                                        @foreach (Summit.Controllers.HomeController.EventSession session in group.Sessions)
                                        {
                                            <time>@session.Time</time>
                                            <h3>
                                                @session.Title
                                                <span>@session.Extra</span>
                                            </h3>
                                        }
                                    </div>
                                }
                            </div>
                            i++;
                        }
                        else
                        {
                            <div class="col-md-4">
                                <h3>Day @i</h3>
                                <span style="font-size:17px;position:relative;top:-17px">@day.location</span>
                                @foreach (Summit.Controllers.HomeController.Groups group in day.Groups)
                                {
                                    <div class="session">
                                        @foreach (Summit.Controllers.HomeController.EventSession session in group.Sessions)
                                        {
                                            <time>@session.Time</time>
                                            <h3>
                                                @session.Title
                                                <span>@session.Extra</span>
                                            </h3>
                                        }
                                    </div>
                                }
                            </div>
                            i++;
                        }
                    }
                }
            </div>
        </div>
    </section>
    <!-- .about-event -->
    <section id="section-speaker" class="section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>SPEAKERS</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="grid">
                        <figure class="effect-bubba">
                            <img src="~/img/img-team-1.jpg" alt="img02" />
                            <figcaption>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Sed nunc, quod agimus; Quamquam id quidem, infinitum est in hac urbe;
                                    Id enim volumus, id contendimus, ut officii fructus sit ipsum officium.
                                </p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <h2>Tom Hoffman</h2>
                    </div>
                </div>
                <!-- /.col-sm-6 -->
                <div class="col-sm-6 col-md-3">
                    <div class="grid">
                        <figure class="effect-bubba">
                            <img src="~/img/img-team-2.jpg" alt="img02" />
                            <figcaption>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Sed nunc, quod agimus; Quamquam id quidem, infinitum est in hac urbe;
                                    Id enim volumus, id contendimus, ut officii fructus sit ipsum officium.
                                </p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <h2>Zoe Kramer</h2>
                    </div>
                </div>
                <!-- /.col-sm-6 -->
                <div class="col-sm-6 col-md-3">
                    <div class="grid">
                        <figure class="effect-bubba">
                            <img src="~/img/img-team-3.jpg" alt="img02" />
                            <figcaption>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Sed nunc, quod agimus; Quamquam id quidem, infinitum est in hac urbe;
                                    Id enim volumus, id contendimus, ut officii fructus sit ipsum officium.
                                </p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <h2>Helena <span>Kuhn</span></h2>
                    </div>
                </div>
                <!-- /.col-sm-6 -->
                <div class="col-sm-6 col-md-3">
                    <div class="grid">
                        <figure class="effect-bubba">
                            <img src="~/img/img-team-4.jpg" alt="img02" />
                            <figcaption>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Sed nunc, quod agimus; Quamquam id quidem, infinitum est in hac urbe;
                                    Id enim volumus, id contendimus, ut officii fructus sit ipsum officium.
                                </p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <h2>Alex <span>Ellan</span></h2>
                    </div>
                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="grid">
                        <figure class="effect-bubba">
                            <img src="~/img/img-team-5.jpg" alt="img02" />
                            <figcaption>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Sed nunc, quod agimus; Quamquam id quidem, infinitum est in hac urbe;
                                    Id enim volumus, id contendimus, ut officii fructus sit ipsum officium.
                                </p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <h2>Alexander <span>Keisgner</span></h2>
                    </div>
                </div>
                <!-- /.col-sm-6 -->
                <div class="col-sm-6 col-md-3">
                    <div class="grid">
                        <figure class="effect-bubba">
                            <img src="~/img/img-team-6.jpg" alt="img02" />
                            <figcaption>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Sed nunc, quod agimus; Quamquam id quidem, infinitum est in hac urbe;
                                    Id enim volumus, id contendimus, ut officii fructus sit ipsum officium.
                                </p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <h2>Lara Hahn</h2>
                    </div>
                </div>
                <!-- /.col-sm-6 -->
                <div class="col-sm-6 col-md-3">
                    <div class="grid">
                        <figure class="effect-bubba">
                            <img src="~/img/img-team-7.jpg" alt="img02" />
                            <figcaption>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Sed nunc, quod agimus; Quamquam id quidem, infinitum est in hac urbe;
                                    Id enim volumus, id contendimus, ut officii fructus sit ipsum officium.
                                </p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <h2>Adolph</h2>
                    </div>
                </div>
                <!-- /.col-sm-6 -->
                <div class="col-sm-6 col-md-3">
                    <div class="grid">
                        <figure class="effect-bubba">
                            <img src="~/img/img-team-8.jpg" alt="img02" />
                            <figcaption>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Sed nunc, quod agimus; Quamquam id quidem, infinitum est in hac urbe;
                                    Id enim volumus, id contendimus, ut officii fructus sit ipsum officium.
                                </p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <h2>Elias <span>Friedricks</span></h2>
                    </div>
                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- .row -->
        </div>
        <!-- /.container -->
        <!-- /.container -->
    </section>
    <!-- .team -->

    <section id="section-graduationprofiles" class="section-wrapper team gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>GRADUATION</h1>
                    </div>
                    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1000px;height:150px;overflow:hidden;visibility:hidden;">
                        <!-- Loading Screen -->
                        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="~/Content/spin.svg" />
                        </div>
                        <div data-u="slides" class="group1slides" style="cursor:default;position:relative;top:0px;left:0px;width:1000px;height:150px;overflow:hidden;">
                        </div>
                    </div>
                    <div class="row clearfix" style="height:30px"></div>
                    <div id="jssor_2" style="position:relative;margin:0 auto;top:0px;left:0px;width:1000px;height:150px;overflow:hidden;visibility:hidden;">
                        <!-- Loading Screen -->
                        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="~/Content/spin.svg" />
                        </div>
                        <div data-u="slides" class="group2slides" style="cursor:default;position:relative;top:0px;left:0px;width:1000px;height:150px;overflow:hidden;">
                        </div>
                    </div>
                    <div class="row clearfix" style="height:30px"></div>
                    <div id="jssor_3" style="position:relative;margin:0 auto;top:0px;left:0px;width:1000px;height:150px;overflow:hidden;visibility:hidden;">
                        <!-- Loading Screen -->
                        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="~/Content/spin.svg" />
                        </div>
                        <div data-u="slides" class="group3slides" style="cursor:default;position:relative;top:0px;left:0px;width:1000px;height:150px;overflow:hidden;">
                        </div>
                    </div>
    </section>
    <!-- .client-logo -->
    <section id="section-venue" class="section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>THE VENUE</h1>
                    </div>
                </div>
            </div>
            <!-- /.row-->
            <div class="row">
                <div class="col-md-12">
                    <div id="googleMap"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4 text-center section-divider">
                        <h3>Traveler's notes</h3>
                        <p>Might we suggest…</p>
                        <ul class="travelernotes">
                            @{ 
                                foreach(Summit.Controllers.HomeController.EventSession e in ViewBag.TravelerNotes)
                                {
                                    <li>
                                        <h4>@e.Time</h4>
                                        <p>@e.Title</p>
                                        <h5>@e.Location</h5>
                                        <p>@e.Extra</p>
                                        <a href="@e.Source">@e.Source</a>
                                    </li>
                                }
                            }
                        </ul>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4 text-center">
                        <h3>Checklist</h3>
                        <p>Check these major @ViewBag.Region landmarks off your bucket list:</p>
                        <ul class="travelerchecklist">
                            @{ 
                                foreach(String s in ViewBag.Checklist)
                                {
                                    <li>@s</li>
                                }
                            }
                        </ul>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
    <section id="section-feedback" class="section-wrapper  client-logo gray-bg" style="margin-bottom:0px">
        <div class="container">
            <!-- .row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>SHARE US YOUR FEEDBACK</h2>
                        <p>Don't forget to give your feedback!</p>
                    </div>
                    <form id="contactForm" class="subscribe-form" method="POST">
                        <div class="form-group">
                            <label for="sessionName" class="sr-only">Session Name</label>
                            <select id="sessionName" class="form-control">
                                <option disabled selected="selected">SELECT A SESSION</option>
                                @foreach (string session in ViewBag.Sessions)
                                {
                                    <option value="@session">@session</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="feedback" class="sr-only">Feedback</label>
                            <textarea class="form-control" required="" id="feedback" name="email" placeholder="Enter your Feedback"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm" onclick="submitFeedback()">Submit Feedback</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title" style="text-align:left">
                        <h3>Share your pictures collection</h3>
                        <p>We can make a repository and share it with you all!</p>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1 col-xs-1 col-sm-1">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse… <input type="file" id="imgInp">
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-11 col-xs-11">
                            <input type="text" class="form-control" readonly style="width:85%;background-color:#fff">
                        </div>
                        <div class="col-md-1 col-sm-12 col-xs-12 clearfix" id="uploadbtn">
                            <button type="submit" class="btn btn-primary btn-sm" style="float:right" onclick="readURL()">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    </section>
<section class="section-wrapper">
    <div class="copyright-section">
        <div class="container">
            <div class="row" style="margin-bottom:40px">
                <h2>GET IN TOUCH WITH US</h2>
                <div class="col-md-2">
                    <span><a href="mailto:marie_gunning@dell.com" style="color:black;font-weight:300">Marie Gunning</a></span>
                    <div style="font-size:11px">Program Management</div>
                    <div style="font-size:11px">Austin</div>
                </div>
                <div class="col-md-2">
                    <span><a href="mailto:neeli_kelly@dell.com" style="color:black;font-weight:300">Neeli Kelly</a></span>
                    <div style="font-size:11px">Program Management</div>
                    <div style="font-size:11px">Austin</div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="copytext text-center">&copy; Dell Technologies. All rights reserved </div>
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .copyright-section -->
</section>
<!-- .footer -->
</div>
<div id="registrationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">REGISTER YOURSELF</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="firstName" class="col-sm-3 control-label">Preferred Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="name" placeholder="Preferred name" class="form-control" autofocus>
                            <span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="badgeid" class="col-sm-3 control-label">Badge ID</label>
                        <div class="col-sm-9">
                            <input type="text" id="badgeid" placeholder="Badge ID" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">City</label>
                        <div class="col-sm-9">
                            <input type="text" id="city" placeholder="City" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="program" class="col-sm-3 control-label">PROGRAM</label>
                        <div class="col-sm-9">
                            <select id="country1" class="form-control">
                                <option disabled selected="selected">SELECT YOUR COUNTRY</option>
                                <option value="AUSTIN">AUSTIN</option>
                                <option value="INDIA">INDIA</option>
                                <option value="MALAYSIA">MALAYSIA</option>
                                <option value="IRELAND">IRELAND</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="program" class="col-sm-3 control-label">PROGRAM</label>
                        <div class="col-sm-9">
                            <select id="program" class="form-control">
                                <option disabled selected="selected">SELECT YOUR PROGRAM</option>
                                <option value="ITDP">ITDP</option>
                                <option value="ITLP">ITLP</option>
                                <option value="LEADER">LEADER</option>
                                <option value="OTHERS">OTHERS</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tshirtSize" class="col-sm-3 control-label">T-SHIRT SIZE</label>
                        <div class="col-sm-9">
                            <select id="tshirtSize" class="form-control">
                                <option disabled selected="selected">SELECT YOUR T-SHIRT SIZE</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-label col-sm-3">Gender</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="gender" name="gender" value="Female">Female
                                    </label>
                                </div>
                                <div class="col-sm-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="gender" name="gender" value="Male">Male
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-label col-sm-3">Dietary Restrictions</label>
                        <div class="col-sm-9">
                            <input type="text" id="meal" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary btn-block" onclick="register()">Register</button>
                        </div>
                    </div>
                </form> <!-- /form -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
